@page  "/usuario/list"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Usuários</h3>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userList)
            {
            <tr>
                <td>@item.Title</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a href="/usuario/EditUsuario/@item.Id.ToString()"><button class="btn btn-success">Editar</button></a>
                    <button class="btn btn-danger" @onclick="@(() => DeleteUser(item.Id))">Deletar</button>
                </td>
            </tr>
            }   
        </tbody>
    </table>
</div>

@code {

    private List<Usuario> userList = new List<Usuario>();

    protected override async Task OnInitializedAsync()
    {
        var users = await Http.GetFromJsonAsync<List<Usuario>>("/Usuario/List");
        foreach (var item in users)
        {
            userList.Add(item);
        }
    }

    private async Task DeleteUser(int itemId)
    {
        await Http.DeleteAsync("/Usuario/Delete/"+itemId);
        NavigationManager.NavigateTo("usuario/list", true);
    }
}